<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
    <div class="side-nav-button p-2 me-3 text-light">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
    <a class="navbar-brand px-4" href="#">Enterprises</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>

            </li>
        </ul>
    </div>
</nav>