<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
    <div class="side-nav-button p-2 me-3 text-light">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
    <a class="navbar-brand px-4" href="#">Enterprises</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="['/']" role="button" data-bs-toggle="dropdown">
                    Enterprises
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" [routerLink]="['enterprise/enterprise-list']">Lista de empresas</a></li>
                    <li><a class="dropdown-item" [routerLink]="['enterprise/enterprise-create']">Agregar empresa</a></li>
                    
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Departamentos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="departments/department-list">Lista de departamentos</a></li>
                    <li><a class="dropdown-item" href="departments/department-create">Agregar departamento</a></li>
                    
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Empleado
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="employees/employee-list">Lista de empleados</a></li>
                    <li><a class="dropdown-item" href="employees/employee-create">Agregar empleado</a></li>
                    
                </ul>

            </li>
        </ul>
    </div>
</nav>