<div class="container col-md" style="margin-top:12px ;">
    <h1 class="text-center">AGREGAR DEPARTAMENTO</h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del departamento:</label>
            <input type="text" 
                    class="form-control" 
                    id="name"
                    name="name"
                    required
                    [(ngModel)] = "department.name" 
                    />
            
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripcion:</label>
            <input type="text" 
                    class="form-control" 
                    id="description" 
                    name="description"
                    required
                    [(ngModel)] = "department.description"  
                    />
            
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefono:</label>
            <input  type="text" 
                    class="form-control" 
                    id="phone" 
                    name="phone"
                    required
                    [(ngModel)] = "department.phone"  
                    />
            
        </div>
        <div class="form-group">
            <label for="empresa">Empresa</label>
            <select 
                class="form-control" 
                id="empresa"
                name="empresa"
                required
                [(ngModel)] = "empresa" 
                >
                <!-- <option value="" style="color: grey;">Seleccione la empresa</option> -->
                <option *ngFor="let enterprise of enterprises"  [ngValue]="enterprise">
                    {{enterprise.name}}
                </option>
              
            </select>
          </div>
        
        <br/>
        <button 
            (click)="onSubmit()"
            class="btn btn-success">Enviar
        </button>
    </form>
</div>