<div class="container col-md" style="margin-top:12px ;">
    <h1 class="text-center">NUEVA EMPRESA</h1>
    <form (ngSubmit)= "onSubmit()" #enterpriseForm = "ngForm" >
        <div class="mb-3">
            <label for="nameEnterprise" class="form-label">Razón social de la empresa:</label>

            <input type="text" 
                class="form-control" 
                id="name"
                [(ngModel)] = "enterprise.name"
                name = "name"
                #name = "ngModel"
                >
            
        </div>
        <div class="mb-3">
            <label for="phoneEnterprise" class="form-label">Telefono:</label>
            <input type="text" 
                class="form-control" 
                id="phone"
                [(ngModel)] = "model.phone"
                name = "phone"
                #phone = "ngModel"
                 >
            
        </div>
        <div class="mb-3">
            <label for="addressEnterprise" class="form-label">Dirección:</label>
            <input type="text" 
                class="form-control" 
                id="address"
                [(ngModel)] = "model.address"
                name = "address"
                #address = "ngModel"
                 >
            
        </div>
        
        <button type="button" 
        (click)="onSubmit()"
        class="btn btn-primary">Enviar</button>
    </form>
</div>