
<div class="container">
    <div class="lista">
        <table class="table table-hover">
            <thead>
                <th>Código</th>
                <th>Departamento</th>
                <th>Descripción</th>
                <th>Teléfono</th>
                <th>Empresa que pertenece</th>
            </thead>
            <tbody>
                <tr *ngFor="let departamento of departments">
                    <td>
                        {{departamento.id}}
                    </td>
                    <td>
                        {{departamento.name}}
                    </td>
                    <td>
                        {{departamento.description}}
                    </td>
                    <td>
                        {{departamento.phone}}
                    </td>
                    <!--
                    <td>
                        {{departamento.id_enterprise.id}}
                    </td>
                  -->
                    <td class="text-center">
                        <button type="button" class="btn btn-warning">Editar</button>
                        <!--
                        <button type="button" class="btn btn-danger">Eliminar</button>
                        -->
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  
  </div>