<div class="container col-md" style="margin-top:12px ;">
    <h1 class="text-center">EDITAR EMPLEADO</h1>
    <form>
        <div class="mb-3">
            <label for="nameEnterprise" class="form-label">Razón social de la empresa:</label>
            <input type="text" class="form-control" id="nameEnterprise" >
            
        </div>
        <div class="mb-3">
            <label for="phoneEnterprise" class="form-label">Telefono:</label>
            <input type="text" class="form-control" id="phoneEnterprise" >
            
        </div>
        <div class="mb-3">
            <label for="addressEnterprise" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="addressEnterprise" >
            
        </div>
        <div class="mb-3">
        <label for="emailEnterprise" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="emailEnterprise" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ingrese el correo electrónico.</div>
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>