<div class="container col-md" style="margin-top:12px ;">
    <h1 class="text-center">EDITAR EMPRESA</h1>
    <form>
        
        <div class="mb-3">
            <label for="name" class="form-label">Razón social de la empresa:</label>
            <input type="text" 
                    class="form-control" 
                    id="name"
                    required
                    [(ngModel)] = "enterprise.name"
                    name = "name"/>
            
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefono:</label>
            <input type="text" 
                class="form-control" 
                id="phone"
                required
                [(ngModel)] = "enterprise.phone"
                name = "phone"/>
            
        </div>
        <div class="mb-3">
            <label for="addressEnterprise" class="form-label">Dirección:</label>
            <input type="text" 
                class="form-control" 
                id="address"
                [(ngModel)] = "enterprise.address"
                name = "address"/>
            
        </div>
        
        <button 
            (click)="onSubmit()"
            class="btn btn-success">Enviar
        </button>
        
    </form>
    
</div>